
<div class="content" role="main">
  <div class="menu-bar-container">
    <app-menu-bar class="menu-bar"></app-menu-bar>
  </div>
  <div *ngIf="notesService.selectionShowing" class="note-selector-container">
    <app-note-selection class="note-selection"></app-note-selection>
  </div>
  <div class="note-editor-container" [ngStyle]="{'grid-column-start': notesService.selectionShowing ? 2 : 1}">
    <app-editor class="editor"></app-editor>
  </div>
</div>


<router-outlet></router-outlet>
<ng-toast></ng-toast>