

.content {
    height: 100%;
    display: grid;
    grid-template-columns: 300px auto; 
    grid-template-rows: 50px auto;
}

.menu-bar-container {
    background-color: #F1E3E4;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;

}

.note-selector-container {
    background-color: #BB9BB0;

    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 2;
    grid-row-end: 2;

    max-height: calc(100vh - 50px);

    .note-selection {
        max-height: calc(100vh - 50px);
    }
    
}

.note-editor-container {
    background-color: #F1E3E4;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 2;

    // max-height: 50vh;

    .editor {
        // height: 100%;
        max-height: fit-content;
    }
}
